extends ../layout/base
block content
  section.content-header
        h1
            | Artikel
    
  section.content
    .row
      .col-md-3

        a(href="/artikel/add-artikel").btn.btn-primary.btn-block.btn-lg.pull-left Tambah Artikel

      .col-md-3
      .col-md-3
      .col-md-3
        .input-group
          span.input-group-addon
            i.fa.fa-search
          input#cariArtikel.form-control.input-lg.pull-right(type='text' placeholder='Cari artikel...')
        br
      .col-xs-12
        - if (messages.msg_error)
          .alert.alert-danger.alert-dismissable
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | #{messages.msg_error}
        - if (messages.msg_info)
          .alert.alert-success.alert-dismissable
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | #{messages.msg_info}

    
      .col-xs-12#box-artikel


      .col-xs-12#load-more
       


block prepend footer
  script
    include script.js
