extends ../layout/base
block content
      section.content
          .row
            .col-lg-4.col-xs-4

              .small-box.bg-aqua
                .inner
                  h3 #{countbp}
                  p Bahasa Pemrograman
                .icon
                  i.ion.ion-code
                a.small-box-footer(href='bahasapemrograman')
                  | More info 
                  i.fa.fa-arrow-circle-right

            .col-lg-4.col-xs-4

              .small-box.bg-yellow
                .inner
                  h3 #{countuser}
                  p User Registrations
                .icon
                  i.ion.ion-person-add
                a.small-box-footer(href='user')
                  | More info 
                  i.fa.fa-arrow-circle-right

            .col-lg-4.col-xs-4

              .small-box.bg-red
                .inner
                  h3 #{countartikel}
                  p Artikel
                .icon
                  i.ion.ion-edit
                a.small-box-footer(href='artikel')
                  | More info 
                  i.fa.fa-arrow-circle-right








							
