header.main-header
  a.logo(href='/home')
    span.logo-mini
      b DP

    span.logo-lg
      b Daily Programming
      
  nav.navbar.navbar-static-top
    a.sidebar-toggle(href='#' data-toggle='push-menu' role='button')
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            img.user-image(src='/adminlte/dist/img/avatar04.png' alt='User Image')
            span.hidden-xs #{session_store.username}
          ul.dropdown-menu
            li.user-header
              img.img-circle(src='/adminlte/dist/img/avatar04.png' alt='User Image')
              p
                | #{session_store.username} - #{session_store.jabatan}
                ////small Member since Nov. 2012
            li.user-body
                      
            li.user-footer
             
            
              .pull-right
                a.btn.btn-default.btn-flat(href='/logout') Logout

