aside.main-sidebar
 section.sidebar

  .user-panel
     .pull-left.image
      img.img-circle(src='/adminlte/dist/img/avatar04.png' alt='User Image')|
     .pull-left.info

       p #{session_store.fullName}
     
  ul.sidebar-menu(data-widget='tree')
      li.header MAIN NAVIGATION
      li
        a(href='/user')
          i.fa.fa-user
          span User


      li
        a(href='/bahasapemrograman')
          i.fa.fa-code
          span Bahasa Pemrograman


      li
        a(href='/artikel')
          i.fa.fa-edit
          span Artikel


 





